<div class="main">
  <p class="sign" align="center">Sign in</p>
  <form class="form1" [formGroup]="registerForm" (ngSubmit)="saveUser()">
    <input class="un " type="text" align="center" formControlName="firstName" placeholder="First Name">
    <input class="pass" type="text" align="center" formControlName="lastName" placeholder="Last Name">
    <input class="pass" type="text" align="center" formControlName="teleno" placeholder="Telephone Number">
    <input class="pass" type="text" align="center" formControlName="address" placeholder="Address">
    <input class="pass" type="text" align="center" formControlName="ssn" placeholder="SSn">
    <!-- <a class="submit" align="center">Sign in</a> -->
    <input type="submit" value="Register" class="submit" align="center">
    <!-- <p class="forgot" align="center"><a href="#">Forgot Password?</a></p> -->
          
  </form>        
  </div>